html {
    background: rgb(8, 8, 8);
    color:      white;

    cursor: default;

    text-align: center;

    vertical-align: middle;
}

table {
    margin:         0px;
    padding:        0px;
    border-spacing: 0px;

    margin: auto;

    margin-top: 16px;
}

td {
    border-width: 1px;
    border-style: solid;

    border-bottom-color: rgb( 32,  32,  32);
    border-right-color:  rgb( 32,  32,  32);
    border-left-color:   rgb(128, 128, 128);
    border-top-color:    rgb(128, 128, 128);

    padding: 6px;

    background: rgb(64, 64, 64);

    text-transform: capitalize;
    font-variant:   small-caps;
    font-weight:    bold;
    font-family:    sans-serif;
    font-size:      large;

    color: white;

    text-shadow: 1px 1px 0px black;
}

td:hover {
    background: rgb(128, 128, 128);

    border-bottom-color: rgb( 16,  16,  16);
    border-right-color:  rgb( 16,  16,  16);
    border-left-color:   rgb(192, 192, 192);
    border-top-color:    rgb(192, 192, 192);
}

td div.inner {
    background:     rgb(164, 164, 164);
    border-color:   rgb(192, 192, 192);
    outline-color:  rgb( 32,  32,  32);

    border-width: 1px;
    border-style: solid;

    outline-width: 1px;
    outline-style: solid;

    padding: 30px;
}

td.top,
td.right,
td.bottom {
}

td.left {
    border-left-color: transparent;
}

td.bar {
    background:     black;
    border-color:   black;

    width: 50%;

    text-align: right;
}

td.bar.top {
    border-bottom-color: rgb(16, 16, 16);
}

td.bar.bottom {
    border-top-color: rgb(128, 128, 128);
}

div.left {
    float: left;
    text-align: left;
}

div.right {
    float: right;
    text-align: right;
}
